  body{
    font-family: sans-serif;
  }
header.head {
    background-color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}
li {
    font-size: 15px;
    padding: 0 15px;
}
ul {
    padding: 0;
    margin: 0;
}
button.first-btn {
    padding: 15px 40px;
    font-size: 18px;
    background: #44d6b2;
    color: white;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    box-shadow: -60px 0px 50px 0px #29e37f inset;
    border-radius: 5px;
}
.about-section {
    padding: 100px 0;
}
.navbar-default1 .navbar-nav>li>a {
    color: #000;
    font-size: 18px;
}
.row h3 {
    font-size: 50px;
}
section.vision-section {
    padding-bottom: 50px;
}
h1 {
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
h5 {
    font-size: 20px;
    font-weight: 500;
}
h2 {
    font-size: 45px;
    font-weight: 700;
}
.navbar-nav>li {
    float: left;
    padding: 0 10px;
}
.column-left li{
  list-style: none;
}
.column-right {
    position: relative;
}
.below-img {
    width: 200px;
    height: 250px;
    position: absolute;
    left: -50px;
    right: 0;
    bottom: -50px;
    border-radius: 20px;
}
.first-col {
    position: relative;
}
.first-col img {
    width: 100%;
    border-radius: 20px;

}
.col-sm-6 {
    padding-right: 45px;
}
.second-col {
    margin-left: 35px;
}
button.btn {
    position: absolute;
    top: -34px;
    left: 45px;
    background: white;
    padding: 10px 20px;
}
button.btn h4 {
    color: grey;
}
.second-col h2 {
    font-weight: 600;
}
p {
    margin: 0 0 10px;
    font-size: 17px;
    color: grey;
}
.fa-solid, .fas {
    font-weight: 900;
    font-size: 30px;
    background: #45dc9b;
    padding: 10px;
    border-radius: 35px;
    color: white;
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
.icon-column {
    display: flex;
    padding: 15px 0;
}
button.btn h3 {
    font-size: 25px;
}
.inner-column h4 {
    font-size: 15px;
    font-weight: 600;
}
.inner-box {
    display: flex;
    gap: 10px;
}
.image {
    margin-top: 15px;
}
.img-para p{
    font-size: 14px;
}
.img-para h4{
    font-weight: 700;
}
.mary-sign {
    text-align: right;
}
#row-2 {
    text-align: center;
    margin-top: 50px;
    padding: 25px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
#row-2 h3 {
    font-size: 18px;
    font-weight: 600;
    color: grey;
}
.para p{
    font-size: 15px;
    color: black;
}
#row-3 {
    margin-top: 35px;
}
.col-md-6 {
    position: relative;
}
button.btn-2 {
    padding: 15px 25px;
    border: none;
}
button.btn-2 {
    position: absolute;
    background: white;
    padding: 10px 35px;
    right: 95px;
    top: 80%;
    border-radius: 10px;
}
#container-1 {
    text-align: center;
    background-color: #effffb;
    margin-top: 35px;
    padding: 30px 30px;
}
button.last-btn {
    padding: 12px 35px;
    font-size: 15px;
    background: #44d6b2;
    color: white;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    box-shadow: -60px 0px 50px 0px #29e37f inset;
    border-radius: 5px;
}
#container-1 h2{
    margin-bottom: 25px;
}
ul li{
    list-style: none;

}
.col-md-3 li {
    font-size: 18px;
    margin-bottom: 10px;
}
i.fa-brands.fa-twitter {
    font-size: 20px;
    margin-right: 10px;
}
i.fa-brands.fa-facebook{
    font-size: 20px;
    margin-right: 10px;
}
i.fa-brands.fa-youtube {
    font-size: 20px;
}

.footer{
    padding: 40px 0px;
}
.col-md-3 li:hover{
    color: #39d09a;
}
i.fa-brands.fa-twitter:hover{
     color: #39d09a;
}
i.fa-brands.fa-facebook:hover{
   color: #39d09a;
}
i.fa-brands.fa-youtube:hover {
    color: #39d09a;
}
@media only screen and (max-width: 767px) {
header.head ul.nav li  {
    width: 100%;
}
.head .navbar-toggle{
    background:#68c186;
}
.head .icon-bar{
    background: white;
    padding: 1px;
}
header.head {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 99;
}
 .vision-section h5{
        text-align: center;
}
.vision-section h3{
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}
.vision-section .icon-column {
    display: grid;
    place-items: center;
}
.vision-section .inner-column {
    text-align: center;
}
.below-img {
    width: 190px;
    height: 230px;
    left: 0px;
    right: 0;
    bottom: 36px;
    border-radius: 20px;
}
.vision-section img.img-rounded {
    padding-bottom: 100px;
}
.abt-section button.btn {
    background: white;
    padding: 10px 20px;
    position: unset;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
    box-shadow: 2px 2px 15px #d2d2d2;
}
.about-section{
    padding: 100px 0 50px;
}
.team-section .col-md-5 {
    text-align: center;
}
.team-section  .inner-box {
    display: block;
}
.team-section  .mary-sign {
    text-align: center;
}
.blog-section .col-md-3 {
    margin-bottom: 35px;
}
.blog-section .col-md-3 h2{
   font-size: 30px;
}
.progress-bar-section .para, .progress-bar-section h3{
    text-align: center;
}
.progress-bar-section button.btn-2 {
    background: white;
    padding: 10px 20px;
    position: unset;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
    box-shadow: 2px 2px 15px #d2d2d2;
}
.sign-up-section h2{
    font-size: 32px;
}
.footer .col-md-3 {
    margin-bottom: 30px;
}
.footer ul {
    padding: 0;
}
.progress-bar-section .col-md-6 img{
    height: auto !important;
}
button.first-btn {
    padding: 11px 25px;
    font-size: 18px;
    background: #44d6b2;
}
}

@media (min-width: 768px) and (max-width: 992px) {
.head .navbar-default1 .navbar-nav>li>a {
    font-size: 16px;
}
button.first-btn {
    padding: 13px 20px;
    font-size: 13px;
}
.head .navbar-nav>li {
    padding: 0 0;
}
.vision-section h5{
   text-align: center;
}
.vision-section h3{
    font-size: 38px;
    text-align: center;
}
.below-img {
    left: 0;
}
.team-section .col-md-5 {
    text-align: center;
}
img.p-card {
    max-width: 150px;
}
.vision-section h3 {
    font-size: 19px;
    text-align: center;
}
.vision-section p {
    font-size: 13px;
    color: grey;
}
.icon-column {
    padding: 0 0;
}
.team-section .col-sm-6 {
    text-align: center;
    padding: 0 0;
}
.team-section .col-sm-6 h2 {
    font-size: 27px;
    font-weight: 700;
}
.team-section .col-sm-6 p {
    font-size: 14px;
}
.progress-bar-section .col-sm-6 img{
   height: auto !important;
}
.progress-bar-section .col-sm-6 .para{
  text-align: center;
}
.progress-bar-section .col-sm-6 h3{
  text-align: center;
   font-size: 27px;
    font-weight: 700;
}
}